/* banner starts here */
#banner{
    width: fit-content;
    margin: auto;
    align-items: center;
    justify-content: center;
}



#body{background-image: url('my website/bg.png');
    background-attachment: fixed;
    background-size: cover;
}


/* navigation starts here */
ul.navbar{
    display: flex;
    list-style:none;
}
ul.navbar li{
            width: 170px;
}

ul.navbar li a{
        color:#eeeded;
        font-weight: bold;
        font-size: larger;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


ul.navbar li a:hover{
                color: #fb7359;
                transition: 0.8s;
}


#herder{
    background: #7c1010;
    height: 10vh;
    width: auto;
    background-size: cover;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* marqee starts here */
.mar{
    margin-top: 1%;
    height: 780px;
    margin-bottom: 1%;
}

/* footer starts here */
footer{
    width: 100%;
    height: 40vh;
    background: #282828;
    display: flex;
    align-items: center;
    margin-bottom: auto;    
}


.footer-body{
    width: 100%;    
    display: flex;
    justify-content: space-around;
    height: auto;
}


.footer-logo{
    height: 12vh;
    width: 27rem;
    margin-top: 7rem;
    margin: top 10rem; ;
    line-height: 1.7rem;
}


ul h3{
    color:#eeeded;
    font-size: 400%;
    font-weight: bolder;
    margin-bottom: auto;
}


ul li{
    list-style: none;
    line-height: 2.5rem;
}


.footer-logo h1{
    margin-left: 20px;
}


ul li a{
    text-decoration: none;
    color: #eeeded;
}


ul li a:hover{
    color: #fb7359;
    transition: 0.8s;
}


.footer-bottom{
    width: 100%;
    height: 5vh;
    background: #000000;
    color:#eeeded;
    display: flex;
    align-items: right;
    justify-content: center;
    font-size: 90%;
}


.footer-bottom span{
    color: #FEC53A;
    font-weight: bold;
}